<ion-list>
  <ion-item>
    <ion-button (click)="runTests()" expand="block">SQLite Issue59 Test</ion-button>
  </ion-item>
</ion-list>
<ion-card class="card-issue59 hidden">
  <p class="web display">
    SQLite Plugin not available for {{this.platform}} Platform
  </p>
  <p class="openDB-issue59 display">
    Open Database successful
  </p>
  <p class="execute1-issue59 display">
    Execute Creation Tables successful
  </p>
  <p class="execute2-issue59 display">
    Execute Insert Users successful
  </p>
  <p class="execute3-issue59 display">
    Execute Insert Messages successful
  </p>
  <p class="export-issue59 display">
    Export To Json successful
  </p>
  <p class="close-issue59 display">
    Closing the database was successful
  </p>
  <p class="import-issue59 display">
    Import To Json successful
  </p>
  <p class="export1-issue59 display">
    Export1 To Json successful
  </p>
  <p class="close1-issue59 display">
    Closing1 the database was successful
  </p>
  <p class="sql-success-issue59 display">
    The test database was successful
  </p>
  <p class="sql-failure-issue59 display">
    The test database failed
  </p>
</ion-card>
