ion-card-content{
    padding: 10px;
}
#image-from-db, #image-static-from-db {
    margin-top: 10px !important;
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-gap: 10px !important;
}
#image {
    padding: 10px !important;
    text-align: center !important;
}
