#container {
  text-align: center;

  position: relative;
  left: 0;
  right: 0;
  top: 5%;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}


.display {
  display: none;
}
.card-sqlite {
  padding: 0 1rem;
}
ion-card p {
  font-size: 1rem;
}
ion-card {
  --background: var(--ion-background-color);
  --color: var(--ion-text-color);
}
