<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SQLite Refactor Tests
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">SQLite Refactor Tests</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button routerLink='/test2dbs' routerDirection="forward" color='primary' expand="block">Test 2 Databases</ion-button> 
    <ion-button *ngIf="exConn" routerLink='/existingconnection' routerDirection="forward" color='primary' expand="block">Test Existing Connection</ion-button> 
    <ion-button routerLink='/upgradeversion' routerDirection="forward" color='primary' expand="block">Test Upgrade Versions</ion-button> 
    <ion-button routerLink='/encryption' routerDirection="forward" color='primary' expand="block">Test Encryption</ion-button> 
    <ion-button routerLink='/importjson' routerDirection="forward" color='primary' expand="block">Test Import Json</ion-button> 
    <ion-button *ngIf="exJson" routerLink='/exportjson' routerDirection="forward" color='primary' expand="block">Test Export Json</ion-button> 
    <ion-button routerLink='/exportjson59' routerDirection="forward" color='primary' expand="block">Test Export Json #59</ion-button> 
    <ion-button routerLink='/copyfromassets' routerDirection="forward" color='primary' expand="block">Test Copy From Assets</ion-button> 
    <ion-button routerLink='/json71' routerDirection="forward" color='primary' expand="block">Test Json #71</ion-button> 
  </div>
</ion-content>
